spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/wise_payments
    username: wise_user
    password: secret

  jpa:
    hibernate:
      ddl-auto: update
    open-in-view: false
    properties:
      hibernate:
        format_sql: true

  jackson:
    serialization:
      WRITE_DATES_AS_TIMESTAMPS: false

server:
  port: 8080
